<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Budget Files</title>

		<link rel="shortcut icon" href="images/icon.ico" >

		<link rel="stylesheet" href="static/4-common.css"/>
		<link rel="stylesheet" href="static/3-header.css"/>
		<link rel="stylesheet" href="static/3-footer.css"/>
		<link rel="stylesheet" href="static/6-filters.css"/>
		<link rel="stylesheet" href="static/100-places.css"/>
	</head>
    <body>
        <div class="container">
            <header>
                <div class="company">
					<p style="padding: 0px 0px 0px 7px;">Budget Files</p>
				</div>
                <div class="user">
					<p style="padding: 0px 0px 0px 14px;">Martin Kihungi</p>
				</div>
                <!-- <button style="border-right: 1px grey solid;">Search</button>
                <button style="border-right: 1px grey solid;">Search</button>
                <button >Search</button> -->
            </header>
            
            
            <section class="filters">
                
                <a href="#home">Dashboard</a>
                <a class="active" href="#news">Transactions</a>
                <a href="#contact">Approvals</a>
                <a href="#about">Users</a>

            </section>


            <div class="content">

                <section class="places">

                    <h1>Transactions</h1>

                    <table>
                        <thead style="background: #055041; color: #FFFFFF">
                            <th style="padding: 5px;">Trans_No</th>
                            <th style="padding: 5px;">Budget_Id</th>
                            <th style="padding: 5px;">User</th>
                            <th style="padding: 5px;">Date</th>
                            <th style="padding: 5px;">Status</th>
                            <th style="padding: 5px;">Amount</th>
                        </thead>
                        <tbody>
                            <td style="padding: 5px;">QSI4XGH86FH</td>
                            <td style="padding: 5px;">bgt-001</td>
                            <td style="padding: 5px;">Martin Kihungi</td>
                            <td style="padding: 5px;">20-05-2024</td>
                            <td style="padding: 5px;">Paid</td>
                            <td style="padding: 5px;">200</td>
                        </tbody>
                    </table>



    
                    <!-- <article>
                        <h1>Article One</h1>
                    </article>
    
                    <article>
                        <h1>Article Two</h1>
                    </article>
    
                    <article>
                        <h1>Article Three</h1>
                    </article> -->
    
    
                </section>
            
            </div>



            


            <!-- </div> -->



            
            <footer>
                <p>Budget Files</p>
            </footer>
        </div>
	</body>
</html>
