<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Budget Files</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" type="text/css">

		
		<link rel="shortcut icon" href="images/icon.ico" >

		<link rel="stylesheet" href="static/4-common.css"/>
		<link rel="stylesheet" href="static/3-header.css"/>
		<link rel="stylesheet" href="static/3-footer.css"/>
		<link rel="stylesheet" href="static/6-filters.css"/>
		<link rel="stylesheet" href="static/100-places.css"/>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
	</head>
    <body>
        <div class="container">
            
            
            {% include 'side_panel.html' %}
            {% include 'header.html' %}

            {% block contents %} {% endblock %}

            {% include 'footer.html' %}





            
            
        </div>


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	

		<script>
			$(document).ready(function() {
				// let table = new DataTable('#myTable');
				new DataTable('#users_table, #transactions_table, #approvals_table');


			});


			

			// $(document).on("click", ".edit_user_btn", function(){
			$('.edit_user_btn').on('click', function (event) {
			// $(".edit_user_btn").click(function (e) {
				alert("hey!")
				// var id = $(this).attr("id");
				// var name = $("#edit_user_id").attr("user_name") 
				// var email = $("#edit_user_id").attr("user_email") 
				// var phone = $("#edit_user_id").attr("user_phone") 
				// var role = $("#edit_user_id").attr("user_role") 
				// var pass = $("#edit_user_id").attr("user_pass")  

				// $("#edit_user_id").val()
				// $("#edit_name").val(name)
				// $("#edit_email").val(email)
				// $("#edit_phone").val(phone)
				// $("#edit_role").val(role)
				// $("#edit_password").val(pass)

			});



		</script>
	
	
	
	</body>
</html>
